---
import BaseHead from '../components/BaseHead.astro';
import Header from  '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<BaseHead/>
<Header/>
<h1>Acerca de Transmix</h1>
<p>Plataforma para recopilacion de informacion de casos de fallas y procesos de reparacion de las diferentes marcas de vehiculos del mercado</p>
<Footer/>
