---
import BaseHead from '../components/BaseHead.astro';
import Header from  '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<BaseHead/>
<Header/>
<h1>Blog</h1>
<p>Aqui va ir el primer Articulo del blog </p>
<Footer/>
