---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<html lang="en">
<head>
<BaseHead/>
</head>
	
	<body>
		<Header/>
		<h1>Richard Transmix</h1>
		<p>Blog de recopilacion de fallas y funcionamiento de transmisiones automaticas y direcciones hidraulicas y motores</p>
		<Footer/>
	</body>
	
</html>
